<div class="container-fluid mygrocery">
  <h2>Grocery List Manager</h2>
  <br/>
  <div class="row">
    <div class="col-lg-3 col-xs-6 col-md-4 col-centered">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter grocery items" id="txtSearch"
          [(ngModel)]="task.name" />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="addGrocery()">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!--
  <span>{{tasks|json}}</span>
  <span>{{length}}</span> -->
  <div class="row">
  <div class="col-lg-3 col-xs-6 col-md-4 col-centered">
    <ul class="list-group">
      <li *ngFor="let item of tasks" class="list-group-item list-group-item-success">
        <!-- <span>{{item.name | titlecase}}</span> -->
        <span (click)="onStrike(item)" [ngClass]="{'strike': item.strike}"> {{ item.name | titlecase}} </span>
        <span (click)="onEdit(item)" class="fa fa-pencil  floatright"></span>
        <span (click)="removeGrocery(item)" class="fa fa-times floatright"> </span>
      </li>
    </ul>
  </div>
  </div>

</div>
