.strike {
  text-decoration: line-through;
 }

h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
}

.form-control {
  border-style: solid;
  border: 1px black;
}

.mygrocery {
  background: rgb(248, 237, 237);
  height: 100vh;
}

h2 {
  text-align: center;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

button {
  border-radius: 1px;
  height: 43px;
  outline: none;
  border-width: 0px;
}

#selectedItem{
  color: black;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

#listItems {
  color: black;
  font-weight: 500;
  font-size: 22px;
}

#listItems:hover, #listItems:active{

color:blue;
background-color:snow;
transform: scale(1.1);
-webkit-transform: scale(1.1);
transition: transform 0.5s;
-webkit-transition: transform 0.5s;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

#txtSearch {
  color: black;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}


#onEdit {
  font-size: 22px;
  vertical-align: middle;
  padding-top: 5px;
}

#onDelete {
  padding-top: 5px;
  font-size: 22px;
  vertical-align: middle;
}

#onMark {
  padding-top: 5px;
  font-size: 22px;
  vertical-align: middle;
  padding-right: 5px;
}
